.notifications-container {
  height: auto;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 20px;
}

.flex {
  display: flex;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.alert {
  background-color: rgb(24, 26, 29);
  border-left-width: 4px;
  border-color: rgb(250 204 21);
  border-width: 0.1rem;
  border-style: solid;
  border-radius: 0.375rem;
  padding: 1rem;
}

.alert-svg {
  height: 1.25rem;
  width: 1.25rem;
  color: rgb(250 204 21);
}

.alert-prompt-wrap {
  margin-left: 0.75rem;
  color: rgb(202 138 4);
}

.alert-prompt-link {
  font-weight: 500;
  color: rgb(141, 56, 0);
  text-decoration: underline;
}

.alert-prompt-link:hover {
  color: rgb(202 138 4);
}

h1 {
  color: hsla(32 50% 50% / .8);

  position: fixed;
  left: -100px;
  top: 50%;
  margin: 0;

  transform: rotate(-90deg) translateY(-50%);
}


/* C */
/* ========================================================================== */
.c {
  min-width: 500px;
  width: 500px;
  min-height: 520px;
  border-radius: 12px;
  padding: 20px;
  padding-bottom: 40px;
  box-shadow: 0 8px 48px 2px hsla(10 6% 15% / .4);

  display: flex;
  align-items: flex-end;
  justify-content: center;

  position: relative;
  overflow: hidden;
  background: hsl(0 0% 90%);

  box-sizing: border-box;
}

.ci {
  position: absolute;
  top: 0;
  left: 0;

  width: inherit;
  height: inherit;
  transform-origin: left 50%;

  background: inherit;

  z-index: var(--z);
  transition: .3s ease-out;
}

.ci img {
  -moz-user-select: none;
  user-select: none;
}

.ch {
  position: absolute;
  top: 70%;
  left: 4%;
  transform: translateY(-50%);

  font-size: 2rem;
  color: hsla(var(--h) var(--s) var(--l) / .8);
  text-shadow: 0 2px 10px hsla(var(--h) var(--s) 10% / .3);
}

input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -10;
}

label {
  width: 10%;
  height: 10px;
  margin-right: 4px;
  border-radius: 20px;

  background: hsla(0 0% 90% / .3);
  cursor: pointer;

  position: relative;
  z-index: 10;
}

label:last-child {
  margin-right: 0;
}

input:checked+label {
  background: linear-gradient(to right,
    hsla(var(--hue) 80% 70% / .7),
    hsla(calc(var(--hue) + 30) 80% 50% / .7));
}

input:not(:checked)+label+.ci {
  transform: translateX(-100%);
  opacity: 0;
}

input:checked+label+.ci~.ci {
  transform: translateX(100%);
}

input:not(:checked)+label+.ci {
  transition: 0;
}

@media (width <= 650px) {
  .h {
    display: none;
  }
}